!!! 5

%html
  %head
    %meta{:charset => "utf-8"}/
    %title 教科botたんのラボ
    %link{:href => "stylesheets/markdown.css", :rel => "stylesheet"}/
  %body
    %h1 教科botたんのラボ
    %ul
      %li 
        %a{:href => "http://twitter.com/sub_tan", :target => "_blank"} @sub_tan
      %li 
        %a{:href => "https://twitter.com/sub_tan/lists/subject-bots", :target => "_blank"} 学術たんリスト
      %li 
        %a{:href => "accounts.html"} 学術たんアカウント情報
        %a{:href => "http://sub-tan-bot.appspot.com/export/all_info.csv"} CSVファイル
      %li 
        %a{:href => "created_at.html"} 学術たんアカウント稼働開始日時
